---
apiVersion: v1
kind: Secret
metadata:
  name: openclaw-cloudinit
type: Opaque
stringData:
  userdata: |
    #cloud-config
    package_update: true
    packages:
      - curl
      - qemu-guest-agent

    users:
      - name: openclaw
        shell: /bin/bash
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: true
        ssh_authorized_keys:
          - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPpImAuOJLlSWirZ4ZZVny3rycrioOJedfEx8I2BRRRD leonard@suslian.engineer

    runcmd:
      # Enable qemu-guest-agent
      - systemctl enable --now qemu-guest-agent
