---
apiVersion: v1
kind: Service
metadata:
  name: openclaw
  labels:
    app.kubernetes.io/name: openclaw
spec:
  ports:
    - port: 18789
      protocol: TCP
  selector:
    app.kubernetes.io/name: openclaw
