controllers:
  main:
    pod:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    containers:
      main:
        nameOverride: bazarr
        image:
          repository: ghcr.io/home-operations/bazarr
          tag: 1.5.3
        env:
          UMASK: "022"
          TZ: "Europe/Paris"
        securityContext:
          runAsUser: 568
          runAsGroup: 568
service:
  main:
    controller: main
    ports:
      http:
        port: 6767
persistence:
  config:
    suffix: config
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
  media:
    type: nfs
    server: 192.168.1.252
    path: /mnt/MainHDD/Media
route:
  app:
    hostnames:
      - bazarr.suslian.engineer
    parentRefs:
      - name: internal
        namespace: kube-system
        sectionName: https
