controllers:
  main:
    pod:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
    containers:
      main:
        nameOverride: sonarr
        image:
          repository: ghcr.io/home-operations/sonarr
          tag: 4.0.16
        env:
          SONARR__PORT: &port 8989
          UMASK: "022"
          TZ: "Europe/Paris"
        securityContext:
          runAsUser: 568
          runAsGroup: 568
service:
  main:
    controller: main
    ports:
      http:
        port: *port
persistence:
  config:
    suffix: config
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
  media:
    type: nfs
    server: 192.168.1.252
    path: /mnt/MainHDD/Media
route:
  app:
    hostnames:
      - sonarr.suslian.engineer
    parentRefs:
      - name: internal
        namespace: kube-system
        sectionName: https
