---
apiVersion: v1
kind: Namespace
metadata:
  name: capi-system
---
apiVersion: operator.cluster.x-k8s.io/v1alpha2
kind: CoreProvider
metadata:
  name: cluster-api
  namespace: capi-system
spec:
  version: v1.12.1
  manager:
    featureGates:
      ClusterTopology: true
