---
apiVersion: v1
kind: Namespace
metadata:
  name: kamaji-system
---
apiVersion: operator.cluster.x-k8s.io/v1alpha2
kind: ControlPlaneProvider
metadata:
  name: kamaji
  namespace: kamaji-system
spec:
  version: v0.16.0
